.checkbox {
    margin: 28px 0px 0px -445px;
    font-style: italic;
}

h1 {
    font-style: italic;
    margin-left: -566px;
    font-size: xx-large;
}

h3 {
    font-style: italic;
}

.form-control {
    padding: 1.375rem .75rem;
}

.butregister {
    margin: 76px 0px 0px -400px;
}

.carousel-indicators {
    bottom: 67px
}

h5 {
    font-style: italic;
}

.find {
    padding: 14px;
}

.inside {
    background-color: black;
    border: 5px solid skyblue;
    height: 400px;
}

.cta-form {
    width: 320px;
    margin: 0px 500px;
}

#cta .page-section {
    padding-top: 142px;
}

.input-group {
    outline: skyblue;
}

.modal-header {
    background-color: rgb(95, 191, 228);
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    /* line-height: 2.15; */
    padding-left: .75em;
    padding-right: .75em;
}

.image {
    padding: 3px 0px 0px 0px;
    margin: -18px 29px;
}


/* .card-registration .select-arrow {
    top: 13px;
} */


/* .img-fluid {
    height: 255px;
    width: 227px;
} */

mat-slider {
    width: 300px;
}

.form-select {
    padding: 10px;
    margin: auto;
}

.form-check-label {
    color: gray;
}

input[type=file] {
    padding: 30px;
}